<% include ../inc/header %>
<% include ../inc/navbar %>

<!-- main content container -->
<div class="main">
  <div class="container">

    <!-- Ads section -->
    <div class="hero">
      <div class="section"></div>
    </div><!-- end of ads -->

    <div class="columns is-multiline">
      <div class="column is-8">
        <!-- Notifications -->
        <p class="field">
          <% if(infos && infos.length > 0) { %>
            <% infos.forEach(function(info) { %>
              <%- Message.notify({ color: 'primary', message: info }) %>
            <% }); %>
          <% } %>
          <% if(errors && errors.length > 0) { %>
            <% errors.forEach(function(error) { %>
              <%- Message.notify({ color: 'danger', message: error }) %>
            <% }); %>
          <% } %>
        </p>
      </div>
      <% if(articles && articles.length > 0) { %>
        <div class="column is-10">
          <table class="table is-fullwidth">
          <% articles.forEach(function(article, index) { %>
            <tr>
              <td><%= (new Date(article.postDate)).toLocaleDateString(); %></td>
              <td>
                <a href="/articles/<%= article.id %>">
                  <h2 class="is-title is-size-5"><%- article.title %></h2>
                </a>
              </td>
            </tr>
          <% }); %>
          </table>
        </div>
      <% } %>
    </div>
  </div>
</div><!-- end of main content container -->
<% include ../inc/footer %>
